{% extends 'base.html' %}
{% block content%}
<form method="POST" action="" novalidate>
    <!--add crsf tags -->
    {{ form.hidden_tag() }}

    <div class="row">
        {{ form.title.label(class="col-form-label col-sm-2")}}
          {% if form.title.errors %}
            <div class="col-sm-10">  {{ form.title(class="form-control is-invalid")}}
              <div class="invalid-feedback">
                  {% for error in form.title.errors %}
                      <span>{{error}} </span>
                  {% endfor %}
              </div>
          {% else %}
               {{ form.title(class="form-control")}}
          {% endif %}
          </div>
  </div>
  <div class="row">
    {{ form.content.label(class="col-form-label col-sm-2")}}
      {% if form.title.errors %}
        <div class="col-sm-10">  {{ form.content(class="form-control is-invalid")}}
          <div class="invalid-feedback">
              {% for error in form.content.errors %}
                  <span>{{error}} </span>
              {% endfor %}
          </div>
      {% else %}
           {{ form.content(class="form-control")}}
      {% endif %}
      </div>
</div>

        <div class="mt-2 row">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    
</form>
{% endblock content %}
